.Footer-Container {
  width: 100%;
  border-top: 2px solid red;
  border-top-right-radius: 4rem;
  border-top-left-radius: 4rem;

  .Footer {
    padding: 20px;
    display: flex;
    .Footer-conten {
      width: 30%;

      .Footer-center-icon {
        display: flex;

        ul {
          li {
            list-style: none;
            margin-left: -20px;
            font-size: 14px;
          }
        }

        .iconname {
          margin-top: 16px;
        }
      }

      .Footer-center2 {
        margin-left: -35px;

        ul {
          li {
            list-style: none;
          }
        }
      }

      .Footer-center3 {
        margin-left: -35px;

        ul {
          li {
            list-style: none;
          }

        }
      }

      .Footer-conten-item {
        display: flex;
        margin-left: -20px;

        .social-icon {
          ul {
            li {
              list-style: none;

              a {
                i {
                  font-size: 17px;
                  margin-left: -20px;

                  &:hover {
                    font-size: 25px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .design {
    text-align: center;
  }
}
